body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
}

#title {
    display:flex;
    font-size: 50px;
    font-weight: 900;
    margin-top:100px;
    margin-bottom:100px;
    justify-content: center;
}
#etch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:450px;
}

